name: qbicc Continuous Integration
on:
  push:
    paths-ignore:
      - '**.md'
      - '**.adoc'
    branches: [ main ]
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.adoc'
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
jobs:
  build-linux:
    name: "Linux x86_64"
    runs-on: ubuntu-latest
    env:
      CC: gcc
    steps:
      - name: Install LLVM
        uses: KyleMayes/install-llvm-action@v1.3.0
        with:
          version: "12.0.0"
          directory: ${{ runner.temp }}/llvm-install

      - name: Clone qbicc
        uses: actions/checkout@v2
        with:
          path: myqbicc

      - name: Install qbicc
        run: |
          mvn install -pl '!integration-tests'
        working-directory: ./myqbicc

      - name: Clone qbicc Class Library
        uses: actions/checkout@v2
        with:
          repository: qbicc/qbicc-class-library
          path: qbicc-class-library
          submodules: true

      - name: Install qbicc Class Library
        run: |
          mvn install
        working-directory: ./qbicc-class-library

      - name: Test qbicc
        run: |
          mvn test -pl integration-tests
        working-directory: ./myqbicc
        timeout-minutes: 20

      - name: Prepare failure archive (if maven failed)
        if: failure()
        shell: bash
        run: find . -type d -name '*-reports' -o -name "*-logs" | tar -czf test-reports.tgz -T -

      - name: Upload failure Archive (if maven failed)
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-reports
          path: 'test-reports.tgz'
